.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 200px;
  overflow: hidden;
}

.gallery-images .image-container {
  position: relative;
  overflow: hidden;
}

.gallery-images img {
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.gallery-images img:hover {
  transform: scale(1.5);
}


@media (max-width: 800px){
  .gallery-images {
    grid-template-columns: 1fr 1fr;
}}
