.header-bg {
  background-image: url('../assets/handss.webp');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-menu {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; 
}

.black-bg{
  background-color: #000;
}

.header-menu h1 a{
  font-family: "Cinzel decorative";
  color: #fff;
}

.nav-menu, .menu-itens {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-menu a {
  font-family: 'Raleway';
  font-size: 1.5rem;
  color: #ccc;
  position: relative;
}

.efect:hover{
  color: #fff;
  transition: color .2s ease;
}

.efect::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width .3s ease;
}
.efect:hover::after{
  width: 20px;
}

.cadastro{
  padding: 10px 20px;
  border: 1px solid #ccc;
  transition: .3s;
}

.cadastro:hover{
  color: #fff;
  border-color: #fff;
}

.header h2 {
  color: #fff;
  font-size: 3rem;
  max-width: 24ch;
  padding-top: 230px; 
  font-family: "Cinzel decorative";
  text-align: center;
  user-select: none;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  padding: 5px 10px;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 900px){
  .header h2{
    font-size: 2.5rem;
    max-width: 40ch;
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 94px;
    left: 0;
    height: 100vh;
    background-color: #000;
    width: 100%;
    padding: 20px;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none; 
    z-index: 5;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block; 
  }

  .nav-menu.show {
    transform: translateY(0); 
    opacity: 1;
    pointer-events: auto;
  }

  .nav-menu li:not(:last-child) {
    display: none; 
  }

  .nav-menu li:last-child {
    display: block; 
  }

  .nav-menu.show li:not(:last-child) {
    display: block; 
  }
}

@media (max-width: 400px){

  .header-bg {
    height: 50vh; 
  }

  .header h2{
    font-size: 2rem;
    padding-top: 120px;
  }

  .icon{
    width: 40px;
  }
}
