.products-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.jewel-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  gap: 10px;
  padding-bottom: 40px;
}

.jewel-product:last-child{
  padding-bottom: 10px
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
  max-width: 20ch;
  text-align: center;
}

.product-image {
  width: 240px;
}

.product-price {
  font-family: 'Roboto', sans-serif;
  margin-right: 12px;
  font-weight: 700;
}

.button-hover-background {
  background-color: #fff;
  color: #111;
  border: 2px solid #000;
  padding: 10px 60px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  transition: 0.2s;
  cursor: pointer;
}
.button-hover-background:hover {
  background: #222;
  color: #eee;
}


@media (max-width: 900px){
.product-image {
  width: 300px;
}
}


@media (max-width: 620px){
  .button-hover-background{
    padding: 20px;
    width: 90vw;
  }
  .product-image {
    width: 90%;
  } 
}