@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('./header.css');
@import url('./gallery.css');
@import url('./products.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./modal.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.area-title {
  padding: 80px 40px 40px;
  font-family: "Cinzel decorative";
  font-size: 3rem;
}

@media (max-width: 620px){
    .area-title{
      text-align: center;
      font-size: 2rem;
    }
  }
.container{
  max-width: 1440px;
  margin: 0 auto;
}